noderedflows.txt
[{"id":"704a0ffa.10cab","type":"debug","z":"1c556641.b38c2a","name":"","active":true,"console":"false","complete":"payload","x":2165,"y":296,"wires":[]},{"id":"c5f0ce91.1532a","type":"sentiment","z":"1c556641.b38c2a","name":"","x":1777,"y":628,"wires":[["f4d8992a.490bb8"]]},{"id":"f4d8992a.490bb8","type":"function","z":"1c556641.b38c2a","name":"msg","func":"msg.payload = msg.sentiment.score;return msg;","outputs":1,"noerr":0,"x":2102,"y":615,"wires":[["704a0ffa.10cab","c9d19587.b1df08"]]},{"id":"19e36417.e18e7c","type":"inject","z":"1c556641.b38c2a","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":75,"y":674,"wires":[["dfdb9069.f39be"]]},{"id":"4e6ccea3.0b643","type":"Input Split","z":"1c556641.b38c2a","name":"","inputProps":["payload.tweets.0.text","payload.tweets.1.text","payload.tweets.2.text","payload.tweets.3.text","payload.tweets.4.text","payload.tweets.5.text","payload.tweets.6.text","payload.tweets.7.text","payload.tweets.8.text","payload.tweets.9.text","payload.tweets.10.text","payload.tweets.11.text","payload.tweets.12.text","payload.tweets.13.text","payload.tweets.14.text","payload.tweets.15.text","payload.tweets.16.text","payload.tweets.17.text","payload.tweets.18.text","payload.tweets.19.text","payload.tweets.20.text","payload.tweets.21.text","payload.tweets.22.text","payload.tweets.23.text","payload.tweets.24.text","payload.tweets.25.text","payload.tweets.26.text","payload.tweets.27.text","payload.tweets.28.text","payload.tweets.29.text","payload.tweets.30.text","payload.tweets.31.text","payload.tweets.32.text","payload.tweets.33.text","payload.tweets.34.text","payload.tweets.35.text","payload.tweets.36.text","payload.tweets.37.text","payload.tweets.38.text","payload.tweets.39.text"],"outputs":40,"x":633,"y":613,"wires":[["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["c5f0ce91.1532a","704a0ffa.10cab","c9d19587.b1df08"],["c5f0ce91.1532a","704a0ffa.10cab","c9d19587.b1df08"],["c5f0ce91.1532a","704a0ffa.10cab","c9d19587.b1df08"],["c5f0ce91.1532a","704a0ffa.10cab","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"],["704a0ffa.10cab","c5f0ce91.1532a","c9d19587.b1df08"]]},{"id":"dfdb9069.f39be","type":"Twitter-User-Timeline","z":"1c556641.b38c2a","name":"Timeline","twitterconfig":"c7ea328d.4a621","screenname":"@NhelRey","count":"40","includerts":false,"trimuser":true,"excludereplies":true,"contributordetails":false,"x":281,"y":685,"wires":[["4e6ccea3.0b643"]]},{"id":"c9d19587.b1df08","type":"websocket out","z":"1c556641.b38c2a","name":"","server":"","client":"92e31048.9d938","x":2146,"y":1004,"wires":[]},{"id":"c7ea328d.4a621","type":"Twitter-User-Timeline-config","z":"","name":"Realtime008"},{"id":"92e31048.9d938","type":"websocket-client","z":"1c556641.b38c2a","path":"/unitySocket3","wholemsg":"false"}]